* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-width: 8vh;
    background-color: rgb(83, 54, 110);
    font-family: 'Raleway', sans-serif;
}

.logo{
    color: rgba(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}